In [1]:
import pandas as pd
import json
import os
import requests
import numpy as np
from pprint import pprint
from pymongo.mongo_client import MongoClient
from pymongo.server_api import ServerApi

In [2]:
def build_API_data():
    file = open(os.path.join('..', 'static','Resources', 'Tornado_Tracks.geojson'),"r")
    data = json.load(file)
    df = pd.json_normalize(data['features'])
    return df, data['features']

In [3]:
df, file_data = build_API_data()

In [4]:
df

,type,properties.OBJECTID,properties.om,properties.yr,properties.mo,properties.dy,properties.date,properties.time,properties.tz,properties.st,...,properties.elon,properties.len,properties.wid,properties.fc,properties.Month_Calc,properties.Date_Calc,properties.Shape__Length,geometry.type,geometry.coordinates,geometry
0,Feature,1,192,1950,10,1,1950-10-01,21:00:00,3,OK,...,-102.3000,15.80,10,0,9,1950-10-01T04:00:00Z,32166.649032,LineString,"[[-102.519999999763, 36.7300000000112], [-102....",NaN
1,Feature,2,193,1950,10,9,1950-10-09,02:15:00,3,NC,...,-78.5999,2.00,880,0,9,1950-10-09T04:00:00Z,17.462751,LineString,"[[-78.6000000004374, 34.1699999998135], [-78.5...",NaN
2,Feature,3,195,1950,11,20,1950-11-20,02:20:00,3,KY,...,-87.1999,0.10,10,0,10,1950-11-20T05:00:00Z,17.891905,LineString,"[[-87.2000000002385, 37.3700000002956], [-87.1...",NaN
3,Feature,4,196,1950,11,20,1950-11-20,04:00:00,3,KY,...,-84.4999,0.10,10,0,10,1950-11-20T05:00:00Z,18.016042,LineString,"[[-84.499999999716, 38.1999999997035], [-84.49...",NaN
4,Feature,5,197,1950,11,20,1950-11-20,07:30:00,3,MS,...,-89.1299,2.00,37,0,10,1950-11-20T05:00:00Z,17.257657,LineString,"[[-89.1299999999598, 32.4199999996393], [-89.1...",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68696,Feature,68697,621922,2022,9,28,2022-09-28,13:32:00,3,FL,...,-80.8841,3.00,100,0,8,2022-09-28T04:00:00Z,5623.723419,LineString,"[[-80.8668999997253, 28.0829999996791], [-80.8...",NaN
68697,Feature,68698,621923,2022,9,30,2022-09-30,10:25:00,3,NC,...,-78.3011,0.74,20,0,8,2022-09-30T04:00:00Z,1437.023535,LineString,"[[-78.2881999998027, 33.9128000002772], [-78.3...",NaN
68698,Feature,68699,621924,2022,9,30,2022-09-30,13:22:00,3,NC,...,-76.7147,0.70,12,0,8,2022-09-30T04:00:00Z,1381.027880,LineString,"[[-76.7076000002325, 35.3242000001046], [-76.7...",NaN
68699,Feature,68700,621900,2022,9,4,2022-09-04,15:44:00,3,OH,...,-80.6555,0.07,15,0,8,2022-09-04T04:00:00Z,154.120433,LineString,"[[-80.6559000002408, 41.0210000001724], [-80.6...",NaN
68700,Feature,68701,621901,2022,9,9,2022-09-09,23:21:00,3,SC,...,-79.7537,0.68,125,0,8,2022-09-09T04:00:00Z,1298.010769,LineString,"[[-79.7514000004431, 32.875000000231], [-79.75...",NaN

In [5]:
file_data[0]

{'type': 'Feature',
 'properties': {'OBJECTID': 1,
  'om': 192,
  'yr': 1950,
  'mo': 10,
  'dy': 1,
  'date': '1950-10-01',
  'time': '21:00:00',
  'tz': 3,
  'st': 'OK',
  'stf': 40,
  'stn': 23,
  'mag': 1,
  'inj': 0,
  'fat': 0,
  'loss': 4.0,
  'closs': 0.0,
  'slat': 36.73,
  'slon': -102.52,
  'elat': 36.88,
  'elon': -102.3,
  'len': 15.8,
  'wid': 10,
  'fc': 0,
  'Month_Calc': 9,
  'Date_Calc': '1950-10-01T04:00:00Z',
  'Shape__Length': 32166.6490321811},
 'geometry': {'type': 'LineString',
  'coordinates': [[-102.519999999763, 36.7300000000112],
   [-102.300000000432, 36.8800000000859]]}}

In [11]:
uri = 'mongodb+srv://nburwick:Swim_Fast01@cluster0.nvujnf4.mongodb.net/?retryWrites=true&w=majority'
server = ServerApi('1')
# Create a new client and connect to the server
mongo = MongoClient(uri, server_api=server)
fema_data = mongo['fema_data']
tornados = fema_data['tornado_data']
tornados.insert_many(file_data)

In [12]:
print(mongo.list_database_names())

['fema_data', 'admin', 'local']

In [13]:
print(fema_data.list_collection_names())

['tornado_data']

In [14]:
print(tornados.count_documents({}))

68701

In [10]:
# Drop Database for Jupyter Notebook Reruns
#mongo.drop_database('fema_data')